.leaderboard {
  background: white;
  max-width: 760px;
  border-radius: 9px;
  padding: 30px 36px;
  margin: 0 auto;
  height: 100vh;

  h1 {
    font-size: 1.7rem;
  }

  .eviction-notice {
    color: #18bbb6;
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .leaderboard {
    width: 88%;
  }
}

@media (max-width: 750px) {
  .leaderboard {
    width: 75%;
  }
}

@media (max-width: 450px) {
  .leaderboard {
    width: 95%;
  }
}
