.leaderboard {
  background: white;
  max-width: 760px;
  border-radius: 9px;
  padding: 30px 36px;
  margin: 0 auto;

  h1 {
    font-size: 1.7rem;
  }

  .eviction-notice {
    color: #18bbb6;
    font-size: 1.4rem;
  }
}
